.log-block{
    height: 10rem;
    background: linear-gradient(to right, #5fcce9,#4589f4);
    padding: 1rem .5rem;
    box-sizing: border-box;
    position: relative;
}
.title{
    color: #fff;
    text-align: center;
    font-size: .8rem;
}
.list{
    display: flex;
    margin-top: 1rem;
}
.item{
    flex: 1;
    text-align: center;
}
.cirlce-big{
    width: 4rem;
    height: 4rem;
    background: #f0ca4f;
    border-radius: 50%;
    margin:  0 auto;
    padding-top: .3rem;
    box-sizing: border-box;
    position: relative;

}
.circle-smalll{
    width: 3.4rem;
    height: 3.4rem;
    border:1px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    box-sizing: border-box;
    line-height: 3.4rem;
    color: #fff;
    font-size: .8rem;
}
.tags{
    display: inline-block;
    width: 4.5rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    border:1px solid #fff;
    background: #61aff7;
    color: #fff;
    font-size: .75rem;
    border-radius: 4px;
    position: absolute;
    bottom: -.5rem;
    left: -.2rem;
}
.invite-tags{
    position: absolute;
    width: 12rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    color: #fff;
    font-size: .8rem;
    border-radius: .5rem;
    background: #f0ca4f;
    left: 50%;
    margin-left: -6rem;
    bottom: -1rem;
    z-index: 10;
}
.container{
    min-height: auto;
    padding-top: 1rem;
}
.methords{
    padding-top: 1rem;
    margin-bottom: .8rem;
}
.method-title{
    font-size: .8rem;
    color: #333;
    margin-bottom: .5rem;
}
.subtitle{
    margin-bottom: .8rem;
    color: #666;
    padding-left: 3rem;
    box-sizing: border-box;
    line-height: 1rem;
}
.blue{
    color: #6687d2;
}
.method-desc{
    color: #888;
    text-align: justify;
    line-height: 1rem;
}
.code-wraps{
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    margin:  0 auto;
    margin-top: 1.5rem;
}
.code-txt{
    text-align: center;
    color: #888;
    margin-top: .3rem;
}
.code2-wraps{
    margin-top: .5rem;
}