.hidden {
    display: none;
}
.switch-label {
    position: relative;
    display: block;
    height: 20px;
    width: 32px;
    background: #1db955;
    border-radius: 13px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.switch-label:after {
    position: absolute;
    left: 0;
    top: 2px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    content: '';
    transition: all 0.3s ease;
}
.switch-label:active:after {
    width: 28px;
    background: #fff;
}
.switch-ipt:checked + label {
    background: red;
    border-color: red;
}
.switch-ipt:checked + label:after {
    left:16px;
    background: #fff;
}
.switch-ipt:checked + label:active:after {
    left:12px;
} 