.container{
    min-height: calc(100% - 2rem);
    height: calc(100% - 2rem);
}
.device-block{
    position: relative;
    height:100%;
    overflow: hidden;
}
.device-list{
    margin-bottom: .5rem;
}
.device-list li{
    margin-bottom: .5rem;
    line-height: 1.25rem;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: .2rem;
}