.info-bar{
    padding-bottom: .3rem;
    border-bottom: 1px solid #e0e0e0;
}
.bar-icon{
    display: inline-block;
    width: 1rem;
    vertical-align: middle;
    margin-right: .2rem;
}
.info-contents{
    padding-top: .3rem;
}
.rows{
    display: flex;
    line-height: 1.25rem;
    margin-bottom: .2rem;
}
.row-label{
    flex: 1;
    line-height: 1.25rem;
}
.row-value{
    width: 13.5rem;
    position: relative;
    height: 1.25rem;
    line-height: 1.25rem;
}
.sele-icon{
    position: absolute;
    width: .8rem;
    right: .5rem;
    top:0;
}
.row-text{
    height: 1.25rem;
    width: 12rem;
}
.section2{
    margin-top: .8rem;
}
.check-list li{
    display: flex;
    line-height: 1.25rem;
}
.check-label{
    flex: 1;
}
.check-contents{
    width: 10rem;
}
.contents-wrap{
    display: flex;
}
.contents-item{
    flex: 1;
    text-align: center;
}
.check-tags{
    margin-left: .2rem;
}
.section3{
    margin-top: .8rem;
}
.line-rows{
    margin-bottom: .5rem;
    display: flex;
}
.line-label{
    flex: 1;
    line-height: 1.25rem;
}
.line-input{
    width: 13.5rem;
    height: 1.25rem;
}
.line-input2{
    width: 14rem;
    height: 1.25rem;
}

.speaking{
    padding: .15rem 1rem;
    border-radius: 3px;
    background: #dadada;
    color: #999;
    margin-left: .5rem;
    vertical-align: middle;
}
.voice-wrpas{
    display: inline-block;
    vertical-align: middle;
    margin-left: .5rem;
    background: #dadada;
    padding: .1rem .8rem;
    color: #999;
    border-radius: 3px;
}
.voice-wrpas img{
    width: .8rem;
    vertical-align: middle;
}
.voice-wrpas strong{
    font-weight: normal;
}
.caseInfo-icon{
    display: inline-block;
    margin-left: .5rem;
}
.caseInfo-icon img{
    width: 1rem;
    vertical-align: middle;
    margin-top: .2rem;
}
.pic-list{
    display: flex;
    margin-top: .5rem;
}
.pic-list li{
    width: 5.5rem;
    margin-right: .5rem;
    box-sizing: border-box;
    
}
.pic-list li:last-child{
    margin-right: 0;
}
.pic-icon{
    width: 100%;
    height:5.5rem;
    overflow: hidden;
}
.pic-icon img{
    min-height: 5.5rem;
}
.subtn{
    width: 8rem;
    margin:  0 auto;
    margin-top: 2rem;
    border-radius: 1rem;
    outline: none;
}