.header-bar{
    background: #1890ff;
    height: 2rem;
}
.container{
    padding-top: 1rem;
    box-sizing: border-box;
}
.header-bar h2{
    line-height: 2rem;
    text-align: center;
    color: #fff;
    font-size: .75rem;
}
.return-btn{
    position: absolute;
    left: .5rem;
    top:0;
    height: 2rem;
    line-height: 2rem;
    display: block;
    color: #fff;
    font-size: 1rem;
}
.repair-bar{
    line-height: 2rem;
    border-bottom: 1px solid #8a8a8a;
}
.repair-icon{
    display: inline-block;
    width: 1rem;
}
.repair-icon img{
    vertical-align: middle;
    margin-top: -0.1rem;
}
.repair-row{
    display: flex;
    margin-bottom: .5rem;
}
.reapir-label{
    margin-right: .2rem;
    flex: 1;
}
.repair-value{
    width: 13.5rem;
}
.img-container{
    width: 100%;
    display: flex;
}
.device-img-value{
    width: 3rem;
    margin-right: .5rem;
    height: 3rem;
    border-radius: 4px;
    overflow: hidden;
}
.device-img-value img{
    height: 100%;
}

.repair-contents{
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: .5rem;
    border-bottom: 1px solid #8a8a8a;
}
.reason-list{
    display: flex;
    margin-top: .3rem;
}
.reason-item{
    flex: 1;
}
.reason-block{
    margin-top: .5rem;
    padding-top: .8rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #8a8a8a;
}
.reason-label{
    margin-right: .3rem;
}
.remark-block{
    padding-top: .5rem;
}
.remark-title{
    line-height: 1.25rem;
}
.remark{
    border: 1px solid #8a8a8a;
    border-radius: 3px;
    width: 100%;
    height: 5rem;
    padding: .3rem;
    box-sizing: border-box;
    margin-top: .3rem;
}
.btn-block{
    margin-top: 2rem;
}
.sure-btn{
    width: 14rem;
    margin: 0 auto;
}

.voice-icon{
    display: inline-block;
    width: 6rem;
    height: 1.2rem;
    background: #eaeaea;
    vertical-align: middle;
    border-radius: 3px;
}
.voice-icon-wraps{
    text-align: center;
}
.voice-icon-wraps img{
    width: 1rem;
}
.gif-wraps{
    line-height: 1.2rem;
    color: #777;
    padding-left: .5rem;
    box-sizing: border-box;
}
.voice-gif{
    position: relative;
    height: 1.2rem;
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
}
.voice-gif span{
    width:5px;
    height: 5px;
    top:0px;
    position:absolute;
    background:red;
    -webkit-animation: bodong 0.5s infinite  ease;
}
.voice-gif span:first-child{
    left:0px;
    -webkit-animation-delay:.3s;
}

.voice-gif span:nth-child(2){
    left:7px;
    -webkit-animation-delay:.4s;

}
.voice-gif span:nth-child(3){
    left:14px;
     -webkit-animation-delay:.6s;
}
.voice-gif span:nth-child(4){
    left:21px;
     -webkit-animation-delay:.8s;
}
.voice-gif span:nth-child(5){
    left:28px;
     -webkit-animation-delay:1s;
}

@-webkit-keyframes bodong{
    0%{height:5px; background:bule;}
    30%{height:15px; background:bule;}
    60%{height:20px; background:bule;}
    80%{height:15px; background:bule;}
    100%{height:5px; background:bule;}
}